.button {
    display: block;
    max-width: 125px;
    text-align: center;
    background: var(--primary-color);
    color: var(--color-text-100);
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    margin: 32px 0 0 0;
    font-weight: 500;
    transition: all 0.3s;
    cursor: pointer;

    &:hover{
        transform: scale(1.1);
        box-shadow: 0 0 2px var(--tile-shadow);
    }
}