:root {
    --primary-color: #C1322D;

    --neutral-color-800: #272730;
    --neutral-color-400: #2A2A32;
    --neutral-color-200: #3C3C58;

    --tile-shadow: rgba(193, 50, 45, 0.2);

    --color-text-200: #A1A1A1;
    --color-text-100: #fff;
}